@keyframes click {
  0% {
     box-shadow: inset 0 0 0 6px #FFF;
     background-color: #FFF;
  }
  100% {
    box-shadow: inset 0 0 0 2px #FFF;
    background-color: #1e58ff;
  }
}

.radio {
  position: relative;
  display: inline-flex;
  align-items: center;
  margin-right: 10px;
  font-weight: 700;
  color: #1e58ff;

  input {
    opacity: 0;
    position: absolute;
  }

  &Button{
    width: 15px;
    height: 15px;
    border: 2px solid #1e58ff;
    margin-right: 5px;
    border-radius: 50%;
  }

  input:checked + &Button {
    animation: click .2s .1s ease forwards;
  }
}