@keyframes appear {
  0%{
    transform: translateX(-100%);
  }
  100%{
    transform: translateX(0);
  }
}

.formItem {
  width: 100%;
  margin: 24px 0;
  position: relative;
  flex-shrink: 0;
}

.formItemBar {
  width: 100%;
  height: 1px;
  background: #7d7d7d;
  transition: 0.1s all;
}

.textLabel {
  color: #7d7d7d;
  position: absolute;
  top: 3px;
  left: 0;
  transition: 0.2s ease-out all;
  font-size: 16px;
}

input[type=text],
textarea {
  color: #7d7d7d;
  font-size: 16px;
  border: none;
  line-height: 22px;
  width: 100%;
  background: none;
  border-bottom: 1px solid #818181;
  padding-bottom: 10px;
  transition: border-bottom-color .2s ease;
}
input[type=text], textarea, label {
  transition: transform .3s ease;
  animation: appear .3s ease forwards;
}

textarea {
  resize: none;
  min-height: 150px;
}

input[type=text]:focus,
textarea:focus {
  outline: none;
  border-bottom-color: #1e58ff;
}

input[type=text]:focus + .textLabel,
textarea:focus + .textLabel {
  top: -22px;
  font-size: 13px;
}

input[type=text]:not(:placeholder-shown) + .textLabel,
textarea:not(:placeholder-shown) + .textLabel {
  top: -22px;
  font-size: 13px;
}