.wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 80%;
}

.form {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
.checkboxWrapper{
  display: flex;
}
